.reports
{
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("reports.png");;
    height: 100%;
    width: 100%;
    background-size: contain;
    text-align: center;
    margin: 0px;
    padding-bottom: 26%;
}

.legalcases
{
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("legalcases.jpg");;
    height: 100%;
    width: 100%;    
    background-size: contain;
    text-align: center;
    margin: 0px;
    padding-bottom: 26%;
    margin-left: 1%;
}

.secretary
{
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("church_pic1.jpg");;
    height: 100%;
    width: 100%;    
    background-size: cover;
    text-align: center;
    margin: 0px;
    padding-bottom: 26%;
}

.treasurer
{
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("church_pic2.jpg");;
    height: 100%;
    width: 100%;    
    background-size: cover;
    text-align: center;
    margin: 0px;
    padding-bottom: 26%;
    margin-left: 1%;
}

.pastor
{
    background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)), url("church_pic6.jpg");;
    height: 100%;
    width: 100%;    
    background-size: cover;
    text-align: center;
    margin: 0px;
    padding-bottom: 26%;
    margin-left: 1%;
}

i
{
    padding-top: 250px;
    padding-bottom: 10px;
}

button
{
    border: none;
    border-radius: 10px;
    padding: 5px;
}

button:hover
{
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: red;
    color: white;
}